<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZWallet</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/auth.css">
    <link rel="stylesheet" href="../assets/css/auth-success.css">
</head>
<body>
    <div class="content">
        <div class="left">
            <div class="logo white">Zwallet</div>
            <div class="image">
                <img src="../assets/images/phone.png" alt="">
            </div>
            <div class="bold white sponsor">App that Covering Banking Needs.</div>
            <div class="desc-left med">Zwallet is an application that focussing in banking needs for all users
                in the world. Always updated and always following world trends.
                5000+ users registered in Zwallet everyday with worldwide
                users coverage.</div>
        </div>
        <div class="right">
            <div class="status">
                <img src="../assets/images/check.svg" alt="">
            </div>
            <div class="information">
                <span class="info">Your PIN Was Successfully Created</span>
            </div>
            <div class="desc-right">
                <p class="text desc">Your PIN was successfully created and you can now access all the features in Zwallet. Login to your new account and start exploring!</p>
            </div>
            <div class="button">
                <a href="home.html"><button class="auth-primary-btn confirm mw-100">Login Now</button></a>
            </div>
        </div>
    </div>
</body>
</html>