<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZWallet</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="../assets/css/auth.css" />
    <link rel="stylesheet" href="../assets/css/login.css" />
  </head>
  <body>
    <div class="content">
      <div class="left">
        <div class="logo white">Zwallet</div>
        <div class="image">
          <img src="../assets/images/phone.png" alt="" />
        </div>
        <div class="bold white sponsor">App that Covering Banking Needs.</div>
        <div class="desc-left med">
          Zwallet is an application that focussing in banking needs for all
          users in the world. Always updated and always following world trends.
          5000+ users registered in Zwallet everyday with worldwide users
          coverage.
        </div>
      </div>
      <div class="right">
        <div class="bold big start">
          Forgot Password
        </div>
        <div class="text desc-right">
          Enter your email address to reset your password.
        </div>
        <div class="email input">
          <span class="mail"></span>
          <input
            onfocus="onEmailStart()"
            onblur="onEmailEnd()"
            id="email"
            type="email"
            placeholder="Enter your e-mail"
            autocomplete="off"
          />
        </div>
        <div class="button">
          <a href="home.html"><button class="auth-grey-btn">Submit</button></a>
        </div>
        <div class="sign-up">
          <p class="text">Already have an account? Let’s <a href="login.html" class="bold primary">Login</span></a>
      </div>
      </div>
    </div>

    <script src="../assets/js/login.js"></script>
  </body>
</html>
