<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZWallet</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/auth.css">
    <link rel="stylesheet" href="../assets/css/pin.css">
</head>
<body>
    <div class="content">
        <div class="left">
            <div class="logo white">Zwallet</div>
            <div class="image">
                <img src="../assets/images/phone.png" alt="">
            </div>
            <div class="bold white sponsor">App that Covering Banking Needs.</div>
            <div class="desc-left med">Zwallet is an application that focussing in banking needs for all users
                in the world. Always updated and always following world trends.
                5000+ users registered in Zwallet everyday with worldwide
                users coverage.</div>
        </div>
        <div class="right">
            <div class="bold big start">Start Accessing Banking Needs
                With All Devices and All Platforms
                With 30.000+ Users
            </div>
            <div class="text desc-right">
                Transfering money is eassier than ever, you can access Zwallet wherever you are. Desktop, laptop, mobile phone? we cover all of that for you!
            </div>
            <div class="pin">
                <input oninput="requiredNumber(this)" type="text" maxlength="1">
                <input oninput="requiredNumber(this)" type="text" maxlength="1">
                <input oninput="requiredNumber(this)" type="text" maxlength="1">
                <input oninput="requiredNumber(this)" type="text" maxlength="1">
                <input oninput="requiredNumber(this)" type="text" maxlength="1">
                <input oninput="requiredNumber(this)" type="text" maxlength="1">
            </div>
            <div class="button">
                <a href="auth-success.html"><button class="auth-grey-btn confirm">Confirm</button></a>
            </div>
        </div>
    </div>
    <script src="../assets/js/pin.js"></script>
    <script>
        const inputs = document.querySelectorAll('input')
const button = document.querySelector('button')
Array.from(inputs).forEach(input => {
    input.addEventListener('input', () => {
        const check = Array.from(inputs).every(input => input.value != "")
    
        if(check) {
            button.classList.add('active')
        } else {
            button.classList.remove('active')
        }
    })
})
    </script>
</body>
</html>