.right .input input:focus {
    outline: none;
    border-bottom: 1.5px solid #6379F4;
}

@media screen and (max-width: 1200px) {
    .content .right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .content .left {
        display: none;
    }

    .content .right {
        padding: 30px auto;
    }
}

@media screen and (max-width: 576px) {
    .content .right div {
        width: 100%;
    }

    .content .right {
        padding: 10px;
    }
}